<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rstudio.hp.attendancesystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_launcher_norm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".studentLogin"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminLogin"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".studentSignUp"
            android:parentActivityName=".studentLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentMainPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminMain"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ForgotPassword"
            android:parentActivityName=".studentLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentNotification"
            android:parentActivityName=".StudentMainPage"
            android:screenOrientation="portrait" />
        <activity android:name=".CreateNewNotification"></activity>
    </application>

</manifest>